<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>mcws_blockly</title>
<script src="../js/blockly/blockly.min.js"></script>
<script src="../js/blockly/blocks_compressed.min.js"></script>
<script src="../js/blockly/javascript_compressed.min.js"></script>
<script src="../js/blockly/msg/ja.min.js"></script>
<script src="../js/blockly/js-interpreter.min.js"></script>
<script src="../js/custom/blocks.js"></script>
<style>
body{
    overflow: hidden;
}
</style>

</head>
<body>
	<div id="blocklyDiv" style="width:100%;height:420px;"></div>
	<div style="width:100%;padding:5px;text-align:center;">
		<button id="run" style="margin-top:10px;padding:5px 20px;">実行</button>
	</div>
	
	<script src="../js/blocks.js"></script>
	<script src="../js/custom/interpreter.js"></script>
	<script>
		var workspace = Blockly.inject('blocklyDiv', {
			// https://developers.google.com/blockly/guides/configure/web/configuration_struct
			toolbox: toolbox,
			zoom: {
				controls: true,
				wheel: true,
				startScale: 1.0,
				maxScale: 3,
				minScale: 0.3,
				scaleSpeed: 1.2,
				pinch: true
			},
     		trashcan: true
		});

		// 実行時にstartブロックを設置しておく
		Blockly.serialization.workspaces.load({"blocks":{"blocks":[{"type":"start", "x":120, "y":50}]}}, workspace);

		// 繋がっていないブロックは実行時に対象外にする
		workspace.addChangeListener(Blockly.Events.disableOrphans);

		run.addEventListener("click", function(){
			var code = Blockly.JavaScript.workspaceToCode(workspace);
			var myInterpreter = new Interpreter(code, initApi);
			myInterpreter.run();
		});
	</script>
</body>
</html>
